/* src/styles/navbar.css */

.navbar-mizu {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #09495B; /* Azul principal */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.navbar-mizu-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-mizu-logo h1 {
  font-size: 1.8rem;
  color: #f5f2e3; /* Blanco hueso */
  font-family: "Serif", sans-serif;
  cursor: pointer;
  margin: 0;
}

.navbar-mizu-logo{
  text-decoration: none;
}

.navbar-mizu-links {
    list-style: none; /* Elimina las viñetas de la lista */
    margin: 0; /* Elimina cualquier margen que pueda afectar el diseño */
    padding: 0; /* Elimina cualquier padding */
    display: flex;
    align-items: center; /* Centra el botón verticalmente */
}

.navbar-mizu-link {
  text-decoration: none;
  color: #f5f2e3; /* Blanco hueso */
  font-size: 0.9rem; /* Tamaño más pequeño */
  font-weight: bold;
  padding: 6px 15px; /* Tamaño reducido */
  border: 1px solid #f5f2e3; /* Borde blanco hueso */
  border-radius: 20px; /* Botón más redondeado */
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.navbar-mizu-link:hover {
  background: #f5f2e3; /* Fondo blanco hueso */
  color: #09495B; /* Azul principal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transform: translateY(-2px); /* Efecto de elevación */
}

/* Responsividad */
@media (max-width: 768px) {
  .navbar-mizu-link {
      padding: 5px 10px;
      font-size: 0.8rem;
  }
}
